@import "../../style/main.scss";
@import "../../style/components/button.scss";

.login {
  height: calc(100vh - 10rem);
  width: 100vw;
  overflow: hidden;

  &__left {
    grid-column: center-start / span 4;
    @include center;

    @media (orientation: portrait) {
      align-items: flex-start;
      grid-column: center-start / center-end;
      grid-row: 1 /2;
      z-index: 2;
    }
  }

  &__right {
    margin: 2rem 2rem 2rem 0;
    grid-column: col-start 5 / span 4;
    overflow: hidden;
    position: relative;
    @include center;

    @media (orientation: portrait) {
      grid-column: center-start / center-end;
      grid-row: 1 /2;
      z-index: 1;
      margin: 2.4rem;
    }
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 12rem;
  }

  &__logo-image {
    width: 100%;
  }

  &__form {
    width: 80%;
    max-width: 45rem;
    display: flex;
    justify-content: center;

    @media (orientation: portrait) {
      background-color: $color-white;
      margin-top: 9.6rem;
      padding:  3.6rem 4.8rem;
      border-radius: $border-radius;
      max-width: 60rem;
      @include shadow;
    }
  }

  &__carousel {
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
    overflow: hidden;
  }
}

.carousel {
  width: 100%;
  height: 100%;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.auth-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__heading {
    font-size: 3rem;
    font-weight: 700;
  }

  &__label {
    display: block;
    font-size: $font-size-smaller;

    color: rgba($color-black, 0.7);
  }

  &__group {
    width: 100%;
  }

  &__input {
    width: 100%;
    border: none;
    border-bottom: 2px solid rgba($color-black, 0.1);

    &:focus {
      outline: none;
      border-bottom: 2px solid rgba($color-black, 0.7);
    }
  }

  &__paragraph {
    font-size: $font-size-smaller;

    &--link {
      cursor: pointer;
      margin-left: 1rem;
      font-size: larger;
      font-weight: bold;
      color: inherit;
      text-decoration: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
