@import "../../style/main.scss";
@import "../../style/components/button.scss";

.profiles {
  grid-template-rows: [row-start]min-content [row-middle] min-content [row-end];
  margin-bottom: 4.8rem;

  &__header {
    grid-column: center-start / center-end;
    background-color: $color-primary-light;
    border-radius: $border-radius;
    padding: 2.4rem 5rem;
    margin-top: 2.4rem;
    // margin-bottom: 2.4rem;
    @include shadow;

    @include respond(smallest) {
      margin-top: 2.4rem;
      text-align: center;
      margin-bottom: 1.4rem;
    }
  }

  &__cards {
    grid-column: center-start / center-end;
    margin-bottom: 2.4rem;
    padding: 1.2rem 0;
    @include respond(smallest) {
      padding: 2.4rem 0;
    }
  }

  &__grid {
    grid-column: center-start / center-end;
    margin: 2.4rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

    grid-gap: 3.6rem;
  }

  &__measure {
    grid-column: center-start / center-end;
  }
}

.profile {
  @include center;
}

.profile-card {
  height: 100%;
  width: 100%;
  background-color: $color-primary-light;
  border-radius: $border-radius;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: cover;
  @include shadow;

  &__container {
    margin: 0 auto;
    position: relative;
    height: 45rem;
    width: 100%;

    @media (hover: none) {
      height: 50rem;
    }

    @include respond(smallest) {
      width: 80%;
      height: 49rem;
      @media (hover: none) {
        height: 52rem;
      }
    }
  }

  &__details {
    width: 100%;
    background-color: $color-primary-lighter;
    border-radius: $border-radius;
    padding: 1.2rem;
  }

  &__avatar {
    width: 70%;
    max-width: 20rem;
    border-radius: $border-radius;
    object-fit: cover;
    @include shadow;
  }

  &__btn {
    width: 100%;
  }

  &__name,
  &__status {
    text-align: center;
  }

  &__status {
    height: 4.3rem;
    @include center;
    @include respond(smallest) {
      font-size: 1.8rem !important;
    }
  }

  &--back {
    flex-direction: row;
    justify-content: space-between;

    &--no-social {
      justify-content: center;
    }
  }

  &__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-white;
    border-radius: $border-radius;
    padding: 0.8rem 0.4rem;

    @include respond(smallest) {
      padding: 1.2rem;
    }

    & * i {
      color: $color-black;
      opacity: 0.7;
      margin-bottom: 0.8rem;
      transition: all 0.2s ease-out;
      @include respond(smallest) {
        transform: scale(1.4);
      }

      &:hover {
        transform: scale(1.05);
        opacity: 100%;

        @include respond(smallest) {
          transform: scale(1.45);
        }
      }
    }

    & > a {
      padding: 0.3rem;

      @include respond(smallest) {
        padding: 0.8rem;
      }
    }
  }

  &__btn {
    display: block;
    letter-spacing: 1px;
    font-weight: 500;
    background-color: $color-white;
    font-size: 1.4rem;
    color: rgba($color-black, 0.7);
    padding: 1.2rem 1.8rem;
    width: max-content;
    border-radius: $border-radius;
    transition: all 0.2s;

    &:hover {
      color: rgba($color-black, 1);
      animation: scaleover 0.2s ease-out;
      transform: scale(1.03);
    }

    @include respond(smallest) {
      font-size: 2.4rem;
    }
  }

  &__button-container {
    display: none;
    z-index: 999;
    @media (hover: none) {
      @include center;
      width: 100%;
      margin-top: 1.2rem;
    }
  }
}

.subjects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
  gap: 0.6rem;

  &__subject {
    background-color: $color-primary-lightest;
    @include center;
    padding: 0.6rem;
    border-radius: $border-radius/2;
  }

  &__text {
    @include respond(smallest) {
      font-size: 1.8rem !important;
    }
  }
}
