@import "../../../style/main.scss";

.image-slider {
  overflow: hidden;
  margin-top: 0 !important;
  // flex-direction: column;

  z-index: 203;

  @include respond(smaller) {
    display: none !important;
  }

  &__container {
    grid-column: center-start / center-end;
    width: 100%;
    display: flex;
    padding: 2vw 2vw;
    justify-content: center;
    pointer-events: none;

    @include respond(smaller) {
      flex-direction: column;
    }

    & > * {
      pointer-events: auto;
    }

    &:hover > .image-slider__image-container {
      opacity: 0.5 !important;
      transform: scale(0.98) !important;
    }

    &:hover > *:hover {
      opacity: 1 !important;
      transform: scale(1) !important;
    }
  }

  &__image-container {
    transition: all 0.2s;
    // width: 21vw;
    // height: 28vw;
    flex: 1;
    padding: 1.2rem;
  }
}

// .infinite-scroll-component {
//   // width: 100%;
//   display: flex;
//   flex-direction: column;
//   align-items: center;

//   &__outerdiv {
//     width: 100%;
//   }
// }
