@import "../../style/main.scss";
@import "../../style/components/button.scss";

$spacing: 2.4rem;

.dash {
  grid-template-rows: [row-start]min-content [row-middle] min-content [row-end];
  grid-column-gap: $spacing !important;
  @include respond(small) {
    grid-column-gap: 0 !important;
  }

  &__right {
    margin-top: $spacing;

    grid-column: col-start 5 / center-end;

    @include respond(small) {
      grid-column: center-start / center-end;
      margin-bottom: 8rem;
    }
  }

  &__left {
    margin-top: $spacing;
    grid-column: center-start / col-start 5;
    margin-bottom: $spacing;
    @include respond(small) {
      grid-column: center-start / center-end;
      margin-bottom: 0;
    }
  }
}

.user-education {
  margin-bottom: $spacing;
}

.user-experience {
  grid-column: col-start 5 / center-end;
  grid-row: row-middle / row-end;
}

$horizontal-padding: 4.8rem;

.dashboard-table {
  background-color: $color-primary-light;
  border-radius: $border-radius;
  overflow: hidden;
  @include shadow;

  &__heading {
    padding: 1.8rem $horizontal-padding;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(smallest) {
      padding: 1.8rem 2.4rem;
    }
  }

  &__table {
    background-color: $color-primary-lighter;
    padding: 2rem $horizontal-padding;
    width: 100.1%;
    border-radius: $border-radius;
    border-collapse: collapse;

    @include respond(smallest) {
      padding: 2rem 2.4rem;
    }

    & tbody {
      & tr {
        &:nth-child(odd) {
          background-color: $color-primary-lightest;
        }
      }
    }

    & tr {
      padding: 1.5rem $horizontal-padding;
      @include respond(smallest) {
        padding: 1.5rem 2.4rem;
      }

      &:not(:last-of-type) {
        border-bottom: 1px solid rgba($color-black, 0.045);
      }
    }

    & th {
      text-align: left;
      padding: 2rem 1rem;
      opacity: 50%;
      border-bottom: 1px solid rgba($color-black, 0.045);

      &:first-of-type {
        padding-left: $horizontal-padding;
        @include respond(smallest) {
          padding-left: 2.4rem;
        }
      }
    }

    & td {
      text-align: left;
      padding: 1.5rem 1rem;

      & .dashboard-table__bio {
        width: min-content;
        text-align: left;
      }

      &:first-of-type {
        font-weight: 500;
        padding-left: $horizontal-padding;
        @include respond(smallest) {
          padding-left: 2.4rem;
        }
      }

      &:last-of-type {
        &:not(.dashboard-table__bio) {
          width: 15rem;
          text-align: center;
          padding-right: $horizontal-padding;
          @include respond(smallest) {
            width: min-content;
            padding-right: 2.4rem;
          }
        }
      }
    }
  }

  &__profile-title {
    display: inline;
    hyphens: auto;
  }

  &__profile-data {
    margin-left: 1rem;
    display: inline;
    transition: all 0.2s ease-out;

  }

  &__date {
    @include respond(tiny) {
      display: none;
    }
  }
}
