@import "../../style/main.scss";

.posts {
  margin: 9rem 0;
  
  // display: flex;
  // align-items: center;
  // justify-content: center;
  &__grid {
    grid-column: center-start / center-end;
   margin: 4.8rem auto;
  }


  &__item {
    border-radius: $border-radius;
    overflow: hidden;
  }

  &__image {
    height: 100%;
  }
}

.post-header {
  grid-column: center-start / center-end;
  @include container;
  display: flex;
  align-items: center;
  z-index: 10;
}
