@import "../../../style/main.scss";

.user-info {
  background-color: $color-primary-light;

  border-radius: $border-radius;
  padding: 0 5rem;
  padding-bottom: 0.6rem;
  @include shadow;

  @include respond(smallest) {
    padding: 0 2.4rem 0.6rem 2.4rem;
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 0;
  }

  &__list {
    background-color: $color-primary-lighter;
    border-radius: $border-radius;
    overflow: hidden;

    & > li {
      padding: 1rem 2rem;

      // &:not(:last-child){
      //     margin-bottom: 1rem;
      // }

      &:nth-child(odd) {
        background-color: $color-primary-lightest;
      }
    }
  }

  &__bio-header {
    display: flex;
    justify-content: space-between;
  }

  &__bio-icon {
    cursor: pointer;
    margin-top: 1rem;
    transition: all 0.2s;
    &::before {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  &__no-profile {
    padding: 2.4rem 0;
  }
}
