@import "../../../style/main.scss";

.user-info {
  background-color: $color-primary-light;

  border-radius: $border-radius;
  padding: 0 5rem;
  padding-bottom: 0.6rem;
  @include shadow;

  @include respond(smallest) {
    padding: 0 2.4rem 0.6rem 2.4rem;
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 0;
  }

  &__list {
    background-color: $color-primary-lighter;
    border-radius: $border-radius;
    overflow: hidden;

    & > li {
      padding: 1rem 2rem;

      &:nth-child(odd) {
        background-color: $color-primary-lightest;
      }
    }
  }

  &__no-profile {
    padding: 2.4rem 0;
  }
}

.bio {
  cursor: pointer;
  &__header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .6rem 0;
  }

  &__title {
    display: block;
  }

  &__text {
    display: block;
    margin-left: 0;
    transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
    height: auto;
    max-height: 18rem;
    overflow-y: auto;
    transition: all 0.2s;
  }

  &__icon {
    cursor: pointer;
    transition: all 0.2s;
    &::before {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
}
