@keyframes moveInBottom {
  0% {
    transform: translateY(+30rem);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes fadeAndSlideUp {
  0% {
    // opacity: 0%;
    transform: translateY(+10rem);
  }

  
  100% {
    // opacity: 100%;
    transform: translateY(0rem);

  }
}
