$font-weight-heading: 800;

$font-size-largest: 14rem;
$font-size-large: 10rem;
$font-size-medium: 3rem;
$font-size-small-medium: 2.4rem;
$font-size-small: 1.6rem;
$font-size-smaller: 1.3rem;

.subtitle {
  font-size: $font-size-medium;
  color: $color-white;
  font-weight: 300;
  line-height: 1.6;

  &--black {
    color: $color-black;
  }
}

.heading-primary {
  font-size: 3.5rem;
  font-weight: 200;
}

.heading-secondary {
  font-size: 2rem;
  font-weight: 500;
  &--white {
    color: $color-white;
  }
  &--black {
    color: $color-black;
  }
}

.heading-tertiary {
  font-size: $font-size-small;
  line-height: 1;
  font-weight: 500;
}

.paragraph {
  font-size: $font-size-small;
  line-height: 1.6;
  font-weight: 200;

  &--no-line-height {
    line-height: 1.2;
  }

  &--bold {
    font-weight: 500;
  }

  &--link {
    text-decoration: underline;
  }
}

.sub-paragraph,
.form-label {
  font-size: $font-size-smaller;
  line-height: 1.2;

  &--no-wrap {
    white-space: nowrap;
  }

  &--inline {
    display: inline;
  }
}

.text-input {
  font-size: $font-size-small;
  line-height: 2;
}

.subtext {
  font-size: 1.4rem;
  font-weight: 200;
}
