.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-huge {
  margin-bottom: 15rem !important;
}

.u-margin-bottom-large {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 3rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-smaller {
  margin-bottom: 1.2rem !important;
}

.u-margin-bottom-smallest {
  margin-bottom: 0.8rem !important;
}

.u-margin-bottom-tiny {
  margin-bottom: 0.4rem !important;
}

.u-font-size-larger {
  font-size: large !important;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.u-opacity-7 {
  opacity: 0.7 !important;
}

.u-grid {
  margin-top: 9rem;
  // GRID SETUP
  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 16rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];
  grid-column-gap: 4rem;

  @include respond(smallest) {
    grid-template-columns:
      [full-start] minmax(2.4rem, 1fr) [center-start] repeat(
        6,
        [col-start] minmax(min-content, 16rem) [col-end]
      )
      [center-end] minmax(2.4rem, 1fr) [full-end];
    grid-column-gap: 0rem;
  }

  @include respond(tiny) {
    grid-template-columns:
      [full-start] minmax(1.2rem, 1fr) [center-start] repeat(
        6,
        [col-start] minmax(min-content, 16rem) [col-end]
      )
      [center-end] minmax(1.2rem, 1fr) [full-end];
  }
}

.u-rotate-180 {
  transform: rotate(180deg);
}

.u-height-0 {
  max-height: 0 !important;
  transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
}

.u-bold {
  font-weight: bolder;
}

.u-dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
