.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-huge {
  margin-bottom: 15rem !important;
}

.u-margin-bottom-large {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 3rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-smaller {
  margin-bottom: 1.2rem !important;
}

.u-margin-bottom-smallest {
  margin-bottom: 0.8rem !important;
}

.u-margin-bottom-tiny {
  margin-bottom: 0.4rem !important;
}

.u-font-size-larger {
  font-size: large !important;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.u-opacity-7 {
  opacity: 0.7 !important;
}

.u-grid {
  margin-top: 9rem;
  // GRID SETUP
  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 16rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];
  grid-column-gap: 4rem;
}

.u-rotate-180 {
  transform: rotate(180deg);
}

.u-height-0 {
  max-height: 0 !important;
  transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
}

