.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-huge {
  margin-bottom: 15rem !important;
}

.u-margin-bottom-large {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 3rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-xsmall {
  margin-bottom: .8rem !important;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.u-opacity-7 {
  opacity: 0.7 !important;
}


.u-grid {
    margin-top: 9rem;
  // GRID SETUP
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 16rem) [col-end]
    ) [center-end] minmax(6rem, 1fr) [full-end];
  grid-column-gap:4rem;
}
