@import "../../../style/main.scss";

.show-modal {
  display: flex;
  align-items: center;
  height: 90vh;
  max-height: 90vh;
  padding: 4.8rem 4.6rem 4.8rem 4.8rem;

  &__scroll-container {
    margin-right: 2rem;
  }

  &__image-container {
    height: 100%;
    max-height: 90vh;
  }

  &__image {
    height: 100%;
    margin-right: 4.8rem;
  }

  &__info {
    border-radius: $border-radius;
    margin-right: 2rem;
    overflow-x: hidden;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__description,
  &__specific-info,
  &__header,
  &__map {
    margin-bottom: 2.4rem;
  }
}

.user-block {
  display: flex;
  align-items: center;
  background-color: $color-primary-lighter;
  border-radius: $border-radius;
  padding: 1.2rem;
  margin-left: 2.4rem;
  &__avatar {
    cursor: pointer;
    &--image {
      width: 6rem;
      height: 6rem;
      object-fit: cover;
      border-radius: $border-radius;
    }
  }

  &__text {
    margin: 0 2.4rem;

    &--name {
      cursor: pointer;
    }
  }
}

.discussion {
  background-color: $color-primary-lighter;
  border-radius: $border-radius;
  padding: 2.4rem;

  &__amounts {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color-primary-light;
    padding-bottom: 1.2rem;

    &--comments,
    &--likes {
      font-size: 2rem;
      font-weight: 300;
      &-btn {
        &:focus, &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid $color-primary-light;
  }

  &__button {
    flex: 1 1 33%;
    border-radius: $border-radius/2;
    @include center;
    padding: 0.8rem;
    margin: 0.4rem 0;
    transition: all 0.15s;

    &:hover,
    &:focus,
    &:active {
      background-color: $color-primary-lightest;
    }

    &--icon {
      margin-right: 2px;
    }
  }

  &__add-comment {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.8rem 0;
    border-bottom: 1px solid $color-primary-light;

    &--avatar {
      & > img {
        width: 5rem;
        height: 5rem;
        border-radius: $border-radius/2;
        object-fit: cover;
      }
    }

    &--form {
      width: 100%;
      display: flex;
      align-items: center;
      margin-left: 2rem;
      // background-color: $color-primary-lightest;
    }

    &--icon,
    &--icon::before {
      cursor: pointer;
      transform: scale(0.7);
    }

    &--send {
      margin: 0 2rem;
      transition: all 0.2s ease-out;
      border-radius: $border-radius;
      padding: 0.5rem 1.2rem;
      &:hover,
      &:focus {
        transform: scale(1.05);
        background-color: $color-primary-lightest;
      }
    }
  }
  &__comments {
    margin-top: 1.2rem;
    &--button {
      padding: 1.2rem 1.2rem 0 1.2rem;
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  &__text-input {
    width: 100%;
    padding: 1.2rem;
    border-radius: $border-radius;
    background-color: $color-primary-lightest;
    border: none;
    transition: all 0.05s;

    &:focus,
    &:active {
      outline: none;
      border-bottom: none;
      -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
    }
  }
}

.comment {
  display: flex;
  // align-items: center;
  padding: 0.6rem;

  &:last-of-type {
    margin-bottom: 0.6rem;
  }

  &__right {
    margin-left: 1.6rem;
  }

  &__content {
    background-color: $color-primary-lightest;
    padding: 1.2rem;
    border-radius: $border-radius;
  }
  &__avatar {
    cursor: pointer;
    &--image {
      width: 4rem;
      height: 4rem;
      border-radius: $border-radius/2;
      object-fit: cover;
    }
  }

  &__title {
    cursor: pointer;
  }

  &__sub-content {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    display: flex;

    &:first-child {
      margin-left: 1.8em;
    }

    & :not(:first-child) {
      // Point between delete button and date
      display: flex;
      align-items: center;
      &:before {
        content: "";
        background-color: $color-black;
        border-color: $color-black;
        border-radius: 50%;
        border-width: 5px;
        height: 0.4rem;
        width: 0.4rem;
        margin: 0 0.6rem;
      }
    }
  }

  &__delete-btn {
    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}

.specific-info {
  display: flex;
  &__item {
    &:not(:first-child) {
      margin-left: 4.8rem;
    }
  }
}

.map {
  overflow: hidden;
  border-radius: $border-radius;
  position: relative;

  &__overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: $color-primary-lighter;
    width: max-content;
    max-width: 40%;
    height: min-content;
    z-index: 9;
    border-radius: $border-radius;
    padding: 0.6rem 1.2rem;
    margin: 0.6rem;
  }
}

// .mapContainer {
//   position: absolute;
//   top: 0;
//   right: 0;
//   left: 0;
//   bottom: 0;
// }

.pin {
  width: 3rem;
  height: 3rem;
  border-radius: 50% 50% 50% 0;
  background: $color-primary;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -2rem 0 0 -2rem;
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
  &:after {
    content: "";
    width: 1.4rem;
    height: 1.4rem;
    margin: 0.8rem 0 0 0.8rem;
    background: $color-white;
    position: absolute;
    border-radius: 50%;
  }
}
