@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin container {
  background-color: $color-primary-light;
  border-radius: $border-radius;
  padding: 2.4rem 4.8rem;
}
