@import url("https://use.typekit.net/pgw2gkm.css");

// Nav Height
$nav-height: 6.64rem;

// Colors
$color-white: #fff;
$color-black: #000;
$color-black-light: rgb(85, 85, 85);
$color-primary: rgb(57, 60, 224);
$color-primary-light: lighten($color-primary, 34%);
$color-primary-lighter: lighten($color-primary, 37%);
$color-primary-lightest: lighten($color-primary, 41%);
$color-danger: rgba(253, 81, 81, 0.61);
$color-danger-dark: rgba(185, 39, 39, 0.61);
$color-success: rgb(64, 168, 60);


$font-family: aktiv-grotesk, sans-serif;

$border-radius: 1.2rem;



